*,
::before,
::after {
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.main {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.main__container {
  display: flex;
  flex-direction: column;
  height: 200%;
  transition: all 0.5s;
}

.person {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.person__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax( 290px,1fr));
  grid-gap: 20px;
  margin-bottom: 50px;
}

.person__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.person__title {
  font-size: 48px;
  line-height: 1.1;
  margin-bottom: 20px;
}

.person__prof {
  color: #4facfe;
  white-space: nowrap;
}

.person__subtitle {
  font-size: 32px;
  font-weight: 400;
}

.person__description {
  font-size: 26px;
}

.person__contacts {
  display: flex;
  flex-direction: column;
}

.person__item {
  align-items: center;
}

.person__link {
  text-align: center;
  margin-right: 10px;
  font-size: 28px;
  color: #000;
}

.person__link:hover {
  color: #4facfe;
}

.link__img {
  display: inline-block;
  padding-top: 5px;
  height: 26px;
  width: 26px;
  background-size: 26px 26px;
}

.mail {
  background-image: url(./assets/gmail.svg);
}

.phone {
  background-image: url(./assets/phone.svg);
}

.linkedin {
  background-image: url(./assets/linkedin.svg);
}

.github {
  font-size: 32px;
  font-weight: 400;
}

.person__box {
  max-width: 500px;
  justify-self: center;
  overflow: hidden;
  border: 10px solid #fff;
  animation: ava-animate 5s infinite alternate;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, .5);
}

.person__box-img {
  height: 100%;
  width: 100%;
  animation: ava-bg 3s infinite alternate;
}

.button {
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  background-color: #EDEDED;
  width: 450px;
  height: 50px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #CFCACA;
}

.projects {
  height: 100vh;
}

.projects__container {
  margin: 100px auto;
  text-align: center;
}

.projects button {
  margin-bottom: 70px;
}

.slider-slider {
  max-width: 50rem;
  margin: 0 auto;
}

.slider-slider__radio {
  display: none;
}

.slider-slider__radio:checked {
  background: red;
}

.slider-images{
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.slider-images__container {
  display: flex;
  width: 400%;
  transition: all 0.5s;
}

.slider-link {
  width: 25%;
  padding: 0 0.5rem;
}

.slider-img {
  width: 735px;
  height: 395px;
}

.slider-info {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.slider-info__text {
  overflow: hidden;
}

.text-container {
  width: 400%;
  display: flex;
  transition: all 0.5s;
}

.text-container__title {
  font-size: 1.5rem;
  width: 100%;
  color: #000000;
}

.slider-info__nav {
  display: flex;
  justify-content: space-between;
  width: 16rem;
}

.slider-info__nav label {
  display: block;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  padding: 0.5rem;
}

.nav-item {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  cursor: pointer;
  background: #545151;
  transition: all 0.5s;
}

.nav-item:hover {
  background: #2E2D2D;
}

.nav-item:active {
  background: #0F0F0F;
}

#slide1:checked ~ .slider-images .slider-images__container {
  margin-left: 0;
}
#slide2:checked ~ .slider-images .slider-images__container {
  margin-left: -100%;
}
#slide3:checked ~ .slider-images .slider-images__container {
  margin-left: -200%;
}
#slide4:checked ~ .slider-images .slider-images__container {
  margin-left: -300%;
}

#slide1:checked ~ .slider-info .slider-info__text .text-container  {
  margin-left: 0;
}
#slide2:checked ~ .slider-info .slider-info__text .text-container  {
  margin-left: -100%;
}
#slide3:checked ~ .slider-info .slider-info__text .text-container  {
  margin-left: -200%;
}
#slide4:checked ~ .slider-info .slider-info__text .text-container {
  margin-left: -300%;
}

#slide1:checked ~ .slider-info .slider-info__nav #item1 {
  background: #400101;
}
#slide2:checked ~ .slider-info .slider-info__nav #item2 {
  background: #400101;
}
#slide3:checked ~ .slider-info .slider-info__nav #item3 {
  background: #400101;
}
#slide4:checked ~ .slider-info .slider-info__nav #item4 {
  background: #400101;
}

@media screen and (max-width: 978px) {

  .person {
    padding-top: 30px;
  }

  .person__container {
    grid-row-gap: 15px;
  }

  .person__title {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .person__subtitle {
    font-size: 22px;
    font-weight: 400;
  }

  .person__description {
    font-size: 14px;
  }

  .person__about {
    text-align: center;
  }

  .person__contacts {
    text-align: left;
  }

  .person__item {
    text-align: center;
  }

  .person__link {
    font-size: 18px;
  }

  .link__img {
    height: 18px;
    width: 18px;
    background-size: 18px 18px;
  }

  .person__box {
    max-width: 350px;
    justify-self: center;
  }

  .button {
    width: 300px;
    font-size: 18px;
    margin-bottom: 15px;
  }

  .slider-slider{
    width: 100%;
    padding: 1.6rem 0;
  }

  .slider-info {
    flex-direction: column-reverse;
    align-items: center;
  }

  .info-text {
    margin-top: 1rem;
    width: 100%;
  }

  .text-container__title {
    font-size: 1rem;
  }

  .info-text__container {
    text-align: center;
    font-size: 1.2rem;
  }

  .slider-img {
    width: 350px;
    height: 150px;
  }

  .slider-info__nav {
    margin-bottom: 1.5rem;
  }

}


@keyframes ava-animate {
  0% {
    border-radius: 62% 38% 72% 28% / 67% 32% 68% 33%;
  }

  40% {
    border-radius: 37% 63% 53% 47% / 67% 32% 68% 33%;
  }

  60% {
    border-radius: 23% 77% 39% 61% / 78% 54% 46% 22%;
  }

  100% {
    border-radius: 18% 82% 24% 76% / 43% 54% 46% 57%;
  }
}

@keyframes ava-bg {
  from {
    backdrop-filter: hue-rotate(0);
  }

  to {
    backdrop-filter: hue-rotate(90deg);
  }
}