*,
::before,
::after {
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.main {
  height: 100vh;
  overflow: hidden;
}

.main__container {
  display: flex;
  flex-direction: column;
  height: 200%;
  transition: all 0.5s;
}

.person {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.person__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax( 290px,1fr));
  grid-gap: 20px;
  margin-bottom: 50px;
}

.person__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.person__title {
  font-size: 48px;
  line-height: 1.1;
  margin-bottom: 20px;
}

.person__prof {
  color: #4facfe;
  white-space: nowrap;
}

.person__subtitle {
  font-size: 32px;
  font-weight: 400;
}

.person__contacts {
  display: flex;
  flex-direction: column;
}

.person__item {
  align-items: center;
}

.person__link {
  text-align: center;
  margin-right: 10px;
  font-size: 28px;
  color: #000;
}

.person__link:hover {
  color: #4facfe;
}

.link__img {
  display: inline-block;
  padding-top: 5px;
  height: 26px;
  width: 26px;
  background-size: 26px 26px;
}

.mail {
  background-image: url(./assets/gmail.svg);
}

.phone {
  background-image: url(./assets/phone.svg);
}

.linkedin {
  background-image: url(./assets/linkedin.svg);
}

.github {
  font-size: 32px;
  font-weight: 400;
}

.person__box {
  max-width: 500px;
  justify-self: center;
  overflow: hidden;
  border: 10px solid #fff;
  animation: ava-animate 5s infinite alternate;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, .5);
}

.person__box-img {
  height: 100%;
  width: 100%;
  animation: ava-bg 3s infinite alternate;
}

.button {
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  background-color: #EDEDED;
  width: 450px;
  height: 50px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #CFCACA;
}

.projects {
  height: 100vh;
}

@media screen and (max-width: 978px) {

  .person {
    padding-top: 30px;
  }

  .person__container {
    grid-row-gap: 15px;
  }

  .person__title {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .person__subtitle {
    font-size: 22px;
    font-weight: 400;
  }

  .person__description {
    font-size: 14px;
  }

  .person__about {
    text-align: center;
  }

  .person__contacts {
    text-align: left;
  }

  .person__item {
    text-align: center;
  }

  .person__link {
    font-size: 18px;
  }

  .link__img {
    height: 18px;
    width: 18px;
    background-size: 18px 18px;
  }

  .person__box {
    max-width: 350px;
    justify-self: center;
  }

  .button {
    width: 300px;
    font-size: 18px;
    margin-bottom: 15px;
  }

}


@keyframes ava-animate {
  0% {
    border-radius: 62% 38% 72% 28% / 67% 32% 68% 33%;
  }

  40% {
    border-radius: 37% 63% 53% 47% / 67% 32% 68% 33%;
  }

  60% {
    border-radius: 23% 77% 39% 61% / 78% 54% 46% 22%;
  }

  100% {
    border-radius: 18% 82% 24% 76% / 43% 54% 46% 57%;
  }
}

@keyframes ava-bg {
  from {
    backdrop-filter: hue-rotate(0);
  }

  to {
    backdrop-filter: hue-rotate(90deg);
  }
}